*.sln
*.v2
*.png
*.csproj
*.json
*.dll
*.exe
*.pdb
*.suo
*.props
*.targets
*.cache
*/obj/*
*.txt
*.editorconfig
HomeWork_04/HomeWork_04/obj/
HomeWork_07_02/HomeWork_07_02/obj/
*.rar
*.zip
*.doc
HomeWork_07_03/HomeWork_07_03/obj/
HomeWork_07/HomeWork_07/obj/
ConsoleReadWrite/ConsoleReadWrite/obj/
HomeWork_05/HomeWork_05/obj/
HomeWork_06/Interfaces_HW/Interfaces_HW/obj/
Practice_19/trees/obj/
Practice_15/Delegate/Delegate/obj/
Practice_12/OOP_3_whales/OOP_3_whales/obj/
Practice_11/Practice_11/obj/
Practice_13/Interfaces/Interfaces/obj/
Practice_09/Practice_09/obj/
Otus.IfElse/Otus.IfElse/obj/
HW_09_trees/HW_09_trees/obj/
